h1{ background-color:rgb(161, 207, 161); color:rgb(14, 14, 98); text-align:center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 
'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

#h2{color: rgb(246, 0, 0); font-size:x-large; font-family: 'Times New Roman', Times, serif; }
#p2{background-color: rgb(181, 255, 255); font-size:x-large; font-family: 'Times New Roman', Times, serif;}

#p3{background-color: rgb(159, 233, 233); font-size:x-large; font-family: 'Times New Roman', Times, serif;}